.d-flex {
  display: flex;
}

.sidebar {
  width: 250px;
  border-right: 1px solid #ddd;
  height: 100vh;
  overflow-y: auto;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.hero {
  background-color: #333;
  color: #fff;
}
.floating-button {
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.dropdown-menu {
  top: -60px;
  right: 0;
}

